
@model List<TodoApp.Models.TodoItem>

@{
    ViewBag.Title = "TodoList";
}

<h2>TodoList</h2>

<ol>
    @foreach(var item in Model) {
        if (@item.done) {
            <li><strike>@item.name</strike></li>
        } else {
            <li>@item.name</li>
        }
    }
</ol>

