
@model List<TodoApp.Models.TodoItem>

@{
    ViewBag.Title = "TodoList";
}

<h2>TodoList</h2>

<ol>
    @foreach(var item in Model) {
        if (@item.Done) {
            <li><strike>@item.Name</strike></li>
        } else {
            <li>@item.Name</li>
        }
    }
</ol>

<a href="/Todo/Create">New item</a>
@Html.ActionLink("New item", "Create")
